server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/U-jinLee/spring-cloud-config-repository.git
          clone-on-start: true
          default-label: master
          # private-repo
  #        username:
  #        password: