server:
  port: 8888

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/U-jinLee/spring-cloud-config-repository.git
          clone-on-start: true
          default-label: master
          # private-repo
  #        username:
  #        password:
    bus:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: busrefresh, health
