eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 0

spring :
  application:
    name: product-service
  redis:
    host: localhost
    port: 6379
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ordermsa?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234
  jpa:
    database: mysql
    #    InnoDB??
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show_sql: true
  kafka:
    kafka-server: localhost:9092
    consumer:
      # 컨슈머 그룹을 식별하는 ID, 그룹 ID를 가진 컨슈머는 메시지를 분담해서 consume 한다.
      # 만약 여러 컨슈머가 다른 group-id를 가진다면, 각기 메시지를 수신해 메시지 전파 효과 발생
      # - group id가 다른 product가 두개가 동작 중이라면, 두 product 모두 메시지를 받음
      group-id: product-group
      # 카프카 내에 들어와 있는 메시지 중에 처음 들어와 있는 메시지부터 읽기 시작
      auto-offset-reset: earliest
